.calendarForm {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    align-items: center;

    h1{
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        padding: 2rem 0;
        // grid-area: theTitle;
    }
    & label {
        font-size: 1.5rem;
        font-weight: 600;
        color: inherit;
        text-align: center;
      }
    & input {
        font-size: 1.5rem;
        padding: 0.8rem 1rem;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        transition: all 0.2s;
        color: rgb(27, 27, 27);
        &::placeholder {
            color: $color-grey-light-3;
          }
          &:focus {
            outline: none;
            border: 1px solid $color-primary;
            background-color: $color-grey-light-1;
            color:black;
          }
    }
    & .calendarSubmit{
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.5rem;
        & button{
            width: 15rem;
            display: block;
        }
    }
}